<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list of urls</title>
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Your Shortened URLs</h1>

    <% if (error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <ul>
      <% urls.forEach(url => { %>
      <li>
        <p>
          long URL: <a href="<%= url.originalUrl %>"><%= url.originalUrl %></a>
        </p>
        <p>
          short URL:
          <a href="<%= protocol %>://<%= host %>/<%= url.shortCode %>">
            <%= protocol %>://<%= host %>/<%= url.shortCode %>
          </a>
        </p>
        <p><%= url.clicks %> clicks</p>
        <form action="/delete/<%= url.shortCode %>" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>

      <% }) %>
    </ul>

    <a href="/">Back to home</a>
  </body>
</html>
