<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list of urls</title>
  </head>
  <body>
    <h1>Your Shortened URLs</h1>

    <% if (error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <ul>
      <% urls.forEach(url => { %>
      <li>
        <a href="<%= url.originalUrl %>"><%= url.originalUrl %></a> →
        <a href="http://short.url/<%= url.shortCode %>"
          >http://short.url/<%= url.shortCode %></a
        >
      </li>
      <% }) %>
    </ul>

    <a href="/">Back to home</a>
  </body>
</html>
